<section>
  <div class="row">
    <mat-card *ngFor="let dataResource of filteredDataResources"
              class="col-12 col-md-col-sm-6 col-lg-6 col-xl-4">
      <mat-card-header>
        <div mat-card-avatar class="icon-header-image"></div>
        <mat-card-title>{{dataResource.name}}</mat-card-title>

      </mat-card-header>
      <img mat-card-image src="../../../assets/img/tiles/information_placeholder.jpg" alt="Photo comes here">
      <mat-card-content>
        <p>
          {{dataResource.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
