.about-container {
  padding: 5%;

  @media only screen and (max-width: 770px) {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

mat-card {
  padding: 50px;
  font-family: 'Mulish', sans-serif;
  text-align: justify;

  p {
    font-size: 1.5rem;

    @media only screen and (max-width: 600px) {
      font-size: calc(0.8rem + 2vw);
    }

    a {
      text-decoration: none;
      color: #3CC47C;
      word-wrap: break-word;
    }
  }
}


