<section class="container about-container">
  <mat-card>
    <h2>Hi!</h2>
    <p>Not so long ago, I participate in the social orientation course provided by the
      <a href="https://integratie-inburgering.be/" target="_blank" rel="noreferrer noopenet"> Agentschap Integratie en
        Inburgering</a> and found the content really useful. Our teacher Heidi Thijs, gave us a lot of interesting
      resources and information.</p>
    <p>Talking with colleagues and friends about it, I realize that this information could be useful not only for the
      newcomers in Belgium but for everybody living here, so I decided to make this small website to put this
      information together, organized.</p>
    <p>This is of course a work in progress and I’ll be adding more resources.</p>
    <p>Do you have any question or suggestion about a resource that could be added to this lists? Great! please send me a
      message at <a href="mailto:contact@belgiumpaths.com">contact@belgiumpaths.com</a></p>
  </mat-card>
</section>
