.mat-toolbar {
  padding-left: 25px;
  padding-right: 25px;
  background: #FFFFFF;
  height: 66px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  i {
    color: #414a4c;
    font-size: 40px;
  }

  p {
    color: #414a4c;
    margin-bottom: 0;
  }



  img {
    width: auto;
    height: 45px;
    outline: none;
    cursor: pointer;
  }
}

.right-nav {
  position: absolute;
  right: 6%;
}


