.mat-toolbar {
  padding-left: 25px;
  padding-right: 25px;
  background: #FF3B3F;
  height: 66px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;

  i {
    color: #FFFFFF;
    font-size: 40px;
    cursor: pointer;
    outline: none;
  }

  p {
    color: #FFFFFF;
    margin-bottom: 0;
  }


  img {
    width: auto;
    height: 45px;
    outline: none;
    cursor: pointer;
  }
}

.right-nav {
  position: absolute;
  right: 6%;
}


