<section class="container" style="padding-top: 100px;">
  <div class="grid">
    <div>
      <img src="../../../assets/img/tile-icons/documents.svg" alt="">
      <p>DOCUMENTS</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/healthcare.svg" alt="">
      <p>HEALTHCARE</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/education.svg" alt="">
      <p>EDUCATION</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/transportation.svg" alt="">
      <p>TRANSPORTATION</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/politics.svg" alt="">
      <p>POLITICS</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/museum.svg" alt="">
      <p>MUSEUM</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/public-utilities.svg" alt="">
      <p>PUBLIC UTILITIES</p>
    </div>
    <div>
      <img src="../../../assets/img/tile-icons/start-business.svg" alt="">
      <p>START A BUSINESS</p>
    </div>
  </div>
</section>
