.container {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;

  > div {
    background: #A9A9A9;
    padding: 1rem;
    display: grid;
    place-items: center;

    &::before {
      content: "";
      display: block;
      padding-bottom: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }

    &:hover {
      box-shadow: 0 15px 15px -10px rgba(30, 45, 62, .21), 0 5px 40px -10px rgba(31, 44, 60, .1);
      background: #CAEBF2;
      transition: box-shadow 0.3s ease-in-out;

      -webkit-filter: brightness(0.95);
      filter: brightness(0.95);
    }

    img {
      width: 70%;
      //height: 100%;
      //object-fit: contain;
      grid-area: 1 / 1 / 2 / 2;
      opacity: 1;
      display: block;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
  }
}

body {
  margin: 2rem;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.section-title {
  background-color: #FF3B3F;
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px 32px;
}
